print("Welcome to Hell")

playing=input("Do you want to play? ")

if playing.lower() != "yes":
    quit()

print("Okay yayy Lets play :D")
score = 0

answer = input("What does CPU stand for? ")
if answer.lower() == "central processing unit":
    print('Correct!')
    score += 1
else:
    print("Incorrect, sorry baby. The answer is Central Processing Unit. Booo")

answer = input("What does GPU stand for? ")
if answer.lower() == "graphics processing unit":
    score += 1
    print('Correct!')
    score += 1
else:
    print("Incorrect, sorry dude. It's Graphics Processing Unit. Hahahahaha loser.")

answer = input("What does RAM stand for? ")
if answer.lower() == "random access memory":
    print('Correct!')
    score += 1
else:
    print("Incorrect, it is Random Access Memory.")

answer = input("What does PSU stand for? ")
if answer.lower() == "power supply unit":
    print('Correct!')
    score += 1
else:
    print("Incorrect, gosh darn it. It is POWER SUPPLY UNIT")

    print("You got " + str(score) + " questions correct!")
    print("You got " +str((score / 4) * 100) + "%.")
